.umlbody{
     background-image: url(src\assets\images\gory.jpg); 
     /* background-color: burlywood; */
     background-repeat: no-repeat;
     background-size: 100%;
     margin: 0px;

}

.blue{
     text-align: center;
     /* border: 3px solid #333;
     position: absolute;
     display:flexbox;
     justify-content: center;
     
  */   
} 

.mainForm{
    width: 370px;
    height: 30%;
     float: right;
    margin-top: 10px;
    margin-right: 500px; 
    
}

.hh{
     float: right;
     border: 1px solid red;
     /* margin-right: 200px; */
     width:200px;
     text-align: center;
}
/* .lside{
     border: 3px solid yellow;
} */

  
.className{
     border: 5px solid #333;
     height: 10%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}
.classFields{
     
     border: 5px solid #333;
     height: 35%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
}
.classMethods{
     border: 5px solid #333;
     height: 35%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}
.methodInputs{
     border: 5px solid #333;
     height: 10%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}

#classInput{
     display: block;
     margin : 0 auto;
     margin-left: 110px;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
}
  
li{
     list-style-type: none; /* Убираем маркеры */
}

.myclass{
     border-right: 5px solid #333;
     width: 300px;
     color: white;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
}

.extends{
     /* border: 2px solid yellow; */
     width: 200px;
     padding: 20px;
     margin-bottom: 1px;
}