<div class="umlbody">
<div class = "lside">
<div class = 'myclass'>
<h3 style="font-family:fantasy; font-style:oblique; color:crimson; font-size:35px;">Project 1</h3>
<div class=""></div>
<h4 style="font-family:fantasy; font-style:oblique;">List of classes:</h4>

  <div *ngFor="let c of classList">
    {{c.name}}   <button (click) = "show(c)">Show Detail</button><br>
  </div>
  
  <div class = "extends">
    
    Choose the class which you want to add extends
    <select required [(ngModel)]="child">
        <option *ngFor="let c of classList" [value]="c.id">
            {{c.name}}
        </option>
    </select>

    <br><br>
    Choose his parent class:

    <select required [(ngModel)]="parent">
        <option *ngFor="let c of classList" [value]="c.id">
            {{c.name}}
        </option>
    </select>
    
    <br>
    <br><button (click) = "makeParent()">Do Extends</button>
    <br><button (click) = "updatePage()">Save Connection</button>
    </div>
    <br>
<button (click)="generate()">Generate to Java code</button>
<br>
<br>

</div>
 


<ng-container *ngIf="showed">
    <div class = "hh">
      {{s_class}}<br> Parent Class: <span style="color: red">{{s_parent}} </span><br>
     <span style="color: blue"> Fields:</span>
      <div *ngFor="let sf of s_fields">
          {{sf.myIdentifier}}  {{sf.fieldType}}  {{sf.name}} = {{sf.defaultValue}}
      </div>
      <br>
      <span style="Color: blue">Methods:</span>
      <div *ngFor="let sm of s_methods">
          {{sm.methodIdentifier}}  {{sm.methodType}} {{sm.name}}()
      </div>
      <br>
    </div>
    
  </ng-container>

<div class="blue">

<div>
<form>
  <div [formGroup]="form" class = "mainForm">
    <h2>Creating the New Class for <strong style="color: red">Project1</strong></h2>
    <button (click) = "updatePage()">Create new class</button>
    <br> <br>
    <div class = "className">
      <input type="text" placeholder="Class name" formControlName="name" id = "classInput">
    </div>

    <div class = "classFields" formArrayName="fields">
      <p>Fields</p>
      <div *ngFor="let control of form.get('fields').controls; index as i" [formGroupName]="i">
        
        <ul id="listFields">
          
          <li class = "todoField" >
            <select formControlName="myIdentifier">
              <option [value]="'public'">+</option>
              <option [value]="'private'">-</option>
              <option [value]="'protected'">#</option>
            </select>
            
            <select formControlName="fieldType">
              <option [value]="'int'">int</option>
              <option [value]="'boolean'">bool</option>
              <option [value]="'String'">string</option>
            </select>
            
            <input type="text" placeholder="Field Name" formControlName="name" id = "fieldInput">
            <input type="text" placeholder="DefaultValue" formControlName="defaultValue" id="defaultValue">

            
            
          
          </li>
        </ul>
      </div>
      
      <button type="button" (click)="addProps()">Add Field</button>
    </div>

    <div class = "classMethods" formArrayName="methods">
      <p>Methods</p>
      <div *ngFor="let control of form.get('methods').controls; index as i" [formGroupName]="i">

        <ul id="listMethods">
          <li>
              <select formControlName="methodIdentifier">
                <option [value]="'public'">+</option>
                <option [value]="'private'">-</option>
                <option [value]="'protected'">#</option>
              </select>
              
              <select formControlName="methodType">
                <option [value]="'int'">int</option>
                <option [value]="'boolean'">bool</option>
                <option [value]="'String'">string</option>
                <option [value]="'void'">void</option>
              </select>
            
            <input type="text" placeholder="Method Name" formControlName="name" id = "methodInput">
            <br><br>
            <!-- <input type="text" placeholder="inputName" formControlName="name" id = "listInput"><button>NewInput</button><br><br> -->
          </li>
        </ul>
      </div>
      
      <button type="button" (click)="addMethods();">Add Method</button> 
      <!-- <button> DeleteLast</button> -->
    </div>
    <button (click)="save()">Save</button>
    <br><br>
  

  </div>
</form>

</div>
<br><br>





</div>