.umlbody{
     background-image: url(src\assets\images\gory.jpg); 
     /* background-color: burlywood; */
     background-repeat: no-repeat;
     background-size: 100%;
     /* width: 1600px;
     height: 530px;
     */

}

.btn{
     background-color: #333;
     color: aliceblue;
     font-family: fantasy;
     size: 12px 6px;
}

.mainForm{
    width: 370px;
    height: 30%;
    float: center;
    margin-top: -500px;
    margin-left: 540px; 
    text-align: center;
    color: white;
    
}

.hh{
     float: right;
     border: 5px solid #333;
     /* margin-right: 200px; */
     width:200px;
     text-align: center;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     margin-top: -500px;
     color: white;
}
/* .lside{
     border: 3px solid yellow;
} */

  
.className{
     border: 5px solid #333;
     height: 10%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}
.classFields{
     
     border: 5px solid #333;
     height: 35%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
}
.classMethods{
     border: 5px solid #333;
     height: 35%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}
.methodInputs{
     border: 5px solid #333;
     height: 10%;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     
}

#classInput{
     display: block;
     margin : 0 auto;
     margin-left: 110px;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
}
  
li{
     list-style-type: none; /* Убираем маркеры */
}

.myclass{
     border-right: 5px solid #333;
     width: 300px;
     color: white;
     background-image: linear-gradient(#27261980, rgba(216, 198, 145, 0.589));
     /* text-align: left; */
}

.extends{
     /* border: 2px solid yellow; */
     width: 200px;
     padding: 20px;
     margin-bottom: 1px;
}