.mainForm{
    width: 370px;
    height: 30%;
     float: right;
    margin-top: 10px;
    margin-right: 500px; 
    
}

.hh{
     float: right;
     border: 1px solid green;
     /* margin-right: 200px; */
     width:200px;
     text-align: center;
}
.lside{

}

  
.className{
     border: 1px solid blue;
     height: 10%;
}
.classFields{
     
     border: 1px solid blue;
     height: 35%;
}
.classMethods{
     border: 1px solid blue ;
     height: 35%;
     
}
.methodInputs{
     border: 1px solid blue ;
     height: 10%;
     
}

#classInput{
     display: block;
     margin : 0 auto;
     margin-left: 110px;
}
  
li{
     list-style-type: none; /* Убираем маркеры */
}

/* .myclass{
     border: 1px solid red;
     width: 100px;
} */

.extends{
     border: 2px solid yellow;
     width: 200px;
     padding: 20px;
}