<div class="umlbody">
  <div class="extend">
      <h1>Information about us</h1>
      <h4>.</h4>
      <h2>Welcome to our site UMLConverter!<br> This site is designed to convert your uml to Java code.
      <br>Create UML models online with:
        <br>
      Class diagram, use case, activity diagrams and more.<br>
      Java and SQL code generators, push to GitHub<br>
      Export: PDF, JPEG, SVG, XMI<br>
      Our team is always happy to answer your questions.<br><br>
      You can contact our support at any time.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Provident sed praesentium vero pariatur laudantium laborum autem,<br>
    animi consequuntur maiores accusamus? <br>
    Nihil corporis animi ipsam tempora culpa nam atque recusandae architecto?
  </h2> 
  </div>
  
</div>

